@use "variables" as *;
@use "mixins" as *;

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Avenir, sans-serif, Sans;
  background-image: linear-gradient(0deg, #ffe976, #013f7c);
}