@use "variables" as *;
@use "mixins" as *;
$color1: #6f6f6f;
$color2: #345764;


*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Avenir, sans-serif, Sans;
  background-image: linear-gradient(90deg, $color1 1%, $color2 50%);
}