.todo {
  &__item {
    list-style: none;
    color: #a9a0a2;
    font-size: 1.4rem;
    background: #3a494f;
    width: 400px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 0.5rem;
    margin-top: 1rem;
    border-radius: 25px;
    border: none;
  }

  &__button--done, &__button--trash {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    margin-left: 0.5rem;
    background: #a0a1a6;
    transition: box-shadow 0.15s;

    &:hover {
      box-shadow: 0 0 4px 3px rgba(166,173,179, 0.3);
    }

    &:active {
      background: #838388;
    }
  }

  &__button-image {
    padding-top: 0.1rem;
    height: 27px;
    width: 27px;
  }

  &__done {
    position: relative;
    transition: color 0.5s ease;
  }

  &__done.animate-strike::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 1px;
    background: #a9a0a2;
    animation: strikeThrough 0.75s forwards;
  }

  &__item--delete {
    animation: disintegrate 0.8s forwards;
  }

  &__item--done {
    animation: darkenBackground 0.5s forwards;
  }
}

@keyframes disintegrate {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.5;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.todo__item--delete {
  animation: disintegrate 0.8s forwards;
}

@keyframes darkenBackground {
  from {
    background-color: #3a494f;
  }
  to {
    background-color: #293638;
  }
}

@keyframes strikeThrough {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
